*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.carousel-wrapper {
  background-color: gray;
  height: 100vh;
  display: flex;
  align-items: center;

}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 500px;
  /* background-color: orange; */
}
.carousel-images img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-prev i {
  padding-right: 20px;
}
.carousel-next i {
  padding-left: 20px;
}
i {
  font-size: 40px;
}
